<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPocAtelME5RwcmiyDh0p1oqgf6Cca5ns</string>
	<key>GCM_SENDER_ID</key>
	<string>280960927661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockManagerApp</string>
	<key>PROJECT_ID</key>
	<string>stockmanager-f379c</string>
	<key>STORAGE_BUCKET</key>
	<string>stockmanager-f379c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280960927661:ios:32dc8669bf937677608324</string>
	<key>DATABASE_URL</key>
	<string>https://stockmanager-f379c-default-rtdb.firebaseio.com</string>
</dict>
</plist>